h1 Admin-panel

ul

  li
    a(href="/admin-order") Информация о заказах  постоянных покупателей (с разбивкой по датам и номерам транзакций) 
    // app.js str.772

  li
    a(href="/admin-goods1") Информация о товарах, заказанных постоянными покупателями 1(с разбивкой по датам и номерам транзакций)  
    // app.js str.800
  li
    a(href="/admin-goods2") Информация о товарах, заказанных постоянными покупателями 2(сгруппированная по товарам)  
    // app.js str.821

  li
    a(href="/admin-goods3") Информация о количестве и сумме товаров, заказанных постоянными покупателями (сгруппированная по покупателям) 
    // app.js str.840 
//-
   li
   a(href="/admin-goods4") Информация о количестве и сумме товаров, заказанных одним покупателем (788)    // app.js str.861 
-//
  li
    a(href="/admin-customer") Информация о постоянных покупателях 
    // app.js str.892
 
  li 
    a(href="/admin-gest") Информация о гостях  
    // app.js str.910
  li
    a(href="/admin-order-gest") Информация о заказах гостей 
    // app.js str.925

  li
    a(href="/admin-store") Информация о количестве продаж и остатках товаров на складе 
    // app.js str.949 

  li
    a(href="/admin-messages") Информация о сообщениях на сайт
    // app.js str.1063




a(href='/')
  button(class="show-nav") Перейти на сайт       