//футер для главной страницы

div(class='rowFMain')
  h4 Это проект интернет-магазина
  a(href='/loginAdmin')
    button(id="adminBtn" class="show-nav") 
      h2 Admin DEMO (только для демонстрации)
	

script(src='https://cdn.jsdelivr.net/npm/sweetalert2@10')
script(src='/js/nav.js')
script(src='/js/cart.js')
script(src='/js/slider.js')
script(src='/js/search.js')
script(src='js/order.js')
script(src='/js/message.js')