//футер для главной страницы

div(class='rowFMain')
  h4 бла-бла-бла-бла-бла
  a(href='/admin')
    button(id="adminBtn" class="show-nav") 
      h2 Admin
	

script(src='https://cdn.jsdelivr.net/npm/sweetalert2@10')
script(src='/js/nav.js')
script(src='/js/cart.js')
script(src='/js/slider.js')
script(src='/js/search.js')