//верстка главной страницы

include header

div(id='answer')  

include slider

header(class='site-header-header')
  include site_header
      
      each val2, index2 in cat
        cat

div(class='row')
              
include nav
   
include footerMain

  
 