form(action="/loginAdmin", method="POST")
    label loginAdmin
    input(name="loginAdmin", value="admin", id="loginAdmin")
    label passwordAdmin
    input(type="password", name="passwordAdmin", value="123", id="passwordAdmin")
    input(type="submit", value="loginAdmin")



// method="POST" - чтобы сзади не подсмотрели