form(action="/loginAdmin", method="POST")
    label loginAdmin
    input(name="loginAdmin", value="admin", id="loginAdmin")
    label password
    input(type="password", name="password", value="123", id="password")
    input(type="submit", value="login")



// method="POST" - чтобы сзади не подсмотрели