// выезжающее меню навигации, входит в index.pug

div(class="site-nav button-primary")   
  div(class='title')
      h4 <i class="fa fa-list"></i>Категории товаров
        button(class="close" onclick="showCloseNav()") <p><i class="fa fa-times"></i>Скрыть меню</p>
      
      
      
        
  div(id="nav-category-list") //список категорий товаров в меню навигации
    
            
