// шапка личного кабинета

div(class='rowHead')
    
    div(class='col2cart')
      a(href='/')
        h1 Вася Пупкин & Ко
  
    div(class='col3cart')
      h1 Вход в личный кабинет
          
    div(class='col2cart')
      //input(id='regBtn' type='button' onclick='history.back(-1);' value='X') 
      button(id="regBtn" type='button' onclick='history.back(-1);') <h2><i class="fas fa-arrow-left"></i></h2>
