// шапка страницы заказа

div(class='container')
  div(class='rowHead')
    
    div(class='col2cart')
      a(href='/')
        h1 Вася Пупкин & Ко
  
    div(class='col3cart')
      h3 Оформление заказа
          
    div(class='col2cart')
      a(href='/')
        button(class="show-nav") 
          h2 <i class="fa fa-home"></i>На главную     