//верстка слайдера

div(class="slider")
    div(class="slider__wrapper")
        div(class="slider__items")
            
            div(class="slider__item")
                
                div(class='s2')
                    //img(src="/images/"+goods[0]['image']) 
                    img(src="/images/sl1.jpg")
                    div(class="top-left")
                      h4 Рекламный текст (Top Left)
                    div(class="centered")
                      a(href='http://localhost:3000/cat?id=1')
                        h2 Ноутбуки
                    div(class="bottom-left")
                      h4 Рекламный текст (Bottom Left)
                    
                    div(class="center-right")
                      img(src="/images/64306312_images_9249871008.jpg")





            div(class="slider__item")
                
                div(class='s2')
                    //img(src="/images/"+goods[1]['image'])  
                    img(src="/images/sl2.jpg")
                    div(class="bottom-left")
                      h4 Рекламный текст (Bottom Left)
                    div(class="top-left")
                      h4 Рекламный текст (Top Left)
                    div(class="centered")
                      a(href='http://localhost:3000/cat?id=2')
                        h2 Телефоны
                    div(class="center-right")    
                      img(src="/images/samsung_galaxy_s10_6_128_gb_black_sm_g973fzkdsek_images_11052552609.jpg")



            div(class="slider__item")
                
                div(class='s2')
                    //img(src="/images/"+goods[0]['image']) 
                    img(src="/images/sl7.jpg")
                    div(class="bottom-left")
                      h4 Рекламный текст (Bottom Left)
                    div(class="top-left")
                      h4 Рекламный текст (Top Left)
                    div(class="centered")
                      a(href='http://localhost:3000/cat?id=1')
                        h2 Ноутбуки
                    div(class="center-right")    
                      img(src="/images/64306312_images_9249871008.jpg")


            div(class="slider__item")
                
                div(class='s2')
                    //img(src="/images/"+goods[1]['image'])  
                    img(src="/images/sl8.jpg")
                    div(class="bottom-left")
                      h4 Рекламный текст (Bottom Left)
                    div(class="top-left")
                      h4 Рекламнй текст (Top Left)
                    div(class="centered")
                      a(href='http://localhost:3000/cat?id=2')
                        h2 Телефоны
                    div(class="center-right")    
                      img(src="/images/samsung_galaxy_s10_6_128_gb_black_sm_g973fzkdsek_images_11052552609.jpg")

                                               
        
    a(class="slider__control slider__control_prev" href="#" role="button")
    a(class="slider__control slider__control_next" href="#" role="button")

